<md-toolbar>
  <div class="bt-navbar" layout="row" layout-align="end center" flex>
    <div flex="10"><h2>Beat Tweak</h2></div>

    <section flex="45" layout="row" layout-align="end center">
      <!-- <md-button href="#" class="md-icon-button" aria-label="settings">
        <md-icon class="md-light">settings</md-icon>
      </md-button> -->
      <md-button href="{{vm.freesound_auth}}" class="md-icon-button" aria-label="settings">
        <md-icon class="md-light">account_circle</md-icon>
      </md-button>
    </section>

    <!-- <md-button class="acme-navbar-text">Application was created {{ vm.relativeDate }}.</md-button> -->
  </div>
</md-toolbar>
