<md-sidenav md-component-id="left" class="md-sidenav-left" layout="column" layout-align="start start">
    <md-button ng-click="browser.closeLeftMenu()" class="md-icon-button md-no-ink" aria-label="Toggle Room Browser">
      <md-icon class="md-light">group</md-icon>
    </md-button>
    <div class="lists-container layout-padding" flex layout="column" layout-align="start start">
        <h4>Rooms</h4>
        <md-content flex="40">
            <md-list>
                <md-list-item ng-repeat="room in rooms"  layout="row" layout-align="space-between center">
                    <h4 ng-click="browser.select($index)" ng-disabled="roomNdx === $index" flex>{{ room.name }}</h4>
                    <md-button ng-disabled="roomNdx === $index" ng-click="browser.remove($index)" class="md-icon-button">
                        <md-icon aria-label="delete room" class="md-light" >delete</md-icon>
                    </md-button>
                </md-list-item> 
            </md-list>
        </md-content>
        <input ng-model="newName"/>
        <md-button ng-disabled="!newName.length" ng-click="browser.create(newName)">Add Room</md-button>
        <!-- <div>
            <h4>Change your name</h4>
            <p>Your current user name is </p>
            <form ng-submit="changeName()">
                <input ng-model="newName"/>
                <input type="submit" value="Change Name" />
            </form>
        </div> -->
    </div>
</md-sidenav>