$beat-bg-color: #f5f5f5;
$active-beat-bg-color: #5aadbb;
// @include filter-gradient(#0097e87e, #2e9a1e, horizontal); // IE6-9 fallback on horizontal gradient
.channel {
    width: 100%;
}

.channel-title {
    margin: 0;

}
.sequence md-grid-tile{
  background: $beat-bg-color; }

.sequence .active {
  background: $active-beat-bg-color; }



md-grid-list.sequence {
  min-width: 100%;
  margin: 0;
  padding: 0; }
  
.sequence md-grid-tile {
  transition: all 150ms ease-out 0ms; }

  /* Working method */
.sequence .playing figure{
  background: 
    /* top, transparent red, faked with gradient */ 
    radial-gradient(circle at center, rgba(232,126,138,0) 0%,
        rgba(154,30,32,.7) 90%);
}
